body {
    background-color: #EEF9BF;
    box-sizing: border-box;

}
header {
  width: auto;
  display: flex;
    justify-content: center;
}
.top {
    width: 540px;
    height: 150px;

    display: flex;
    align-items: center;
}
h1 {
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;
    text-align: center;

    color: #75B79E; 
    
}
.content {
    width: auto;
    gap: 45px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 117px;
    height: 146px;
    position: relative;
}

.face {
    width: 100%;
    height: 100%;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;

    margin: 34px;
   
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.selected-back{
    transform: rotateY(0deg);
}

.selected-front{
    transform: rotateY(-180deg);
}

.parrot  {
    width: 100px;
}
.gif {
    width: 100px;
}

@media screen and  (max-width: 335px) {
   
    header {
        display: flex;
    }
    .top {
        width: 100%;
        height: 200px;
    }
    .h1 {
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: -0.004em;
        text-align: center;

    }
    .content {
        margin: 0px;

    }
}